/* здесь используйте глобальные переменные */
// font
$primary-font: "Lato", "arial", sans-serif;
$secondary-font: "Oswald", "arial", sans-serif;

// colors

$basic_green: #68b738;
$basic_grey: #f2f2f2;
$basic_grey-second: #ebebeb;
$special_grey: #cdcdcd;
$special_grey-second: #666666;
$special_dark-grey: #444444;
$special_dark-grey-second: #222222;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
