/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/promo.scss";
@import "./blocks/programs.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/catalog.scss";
@import "./blocks/catalog-additional.scss";
@import "./blocks/subscribe.scss";
