.advantages__caption {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .advantages__caption {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .advantages__description {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__item::before {
  content: "";
  background-color: #68b738;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  display: block;
}

.advantages__item--benefit::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon_leaf");
  background-size: 30px 32px;
}

.advantages__item--powder-form::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon_powder-form");
  background-size: 30px 32px;
}

.advantages__item--intake::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon_eat");
  background-size: 30px 32px;
}

.advantages__item--time::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon_time");
  background-size: 30px 32px;
}
