.catalog-additional__caption {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .catalog-additional__caption {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .catalog-additional__caption {
    font-size: 40px;
    line-height: 40px;
  }
}

.catalog-additional__item {
  list-style-type: none;
}

.catalog-additional__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .catalog-additional__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.catalog-additional__item-info {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-weight: 400;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .catalog-additional__item-info {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-additional__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.button-primary {
  @include button-primary ($secondary-font, #ffffff, #68b738);
}

.catalog-additional__gift {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: image-set("../../images/catalog-bg-cat-mobile@1x.png" 1x, "../../images/catalog-bg-cat-mobile@2x.png"2x);
  width: 280px;
  height: 290px;
}

@media screen and (min-width: 768px) {
  .catalog-additional__gift {
    background-image: image-set("../../images/catalog-bg-cat-tablet@1x.png" 1x, "../../images/catalog-bg-cat-tablet@2x.png"2x);
    width: 707px;
    height: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .catalog-additional__gift {
    background-image: image-set("../../images/catalog-bg-cat-desktop@1x.png" 1x, "../../images/catalog-bg-cat-desktop@2x.png"2x);
    width: 245px;
    height: 288px;
  }
}

.catalog-additional__text {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
}

.catalog-additional__text::before {
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#icon_gift");
  background-size: 78px 80px;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .catalog-additional__text::before {
    width: 80px;
    height: 83px;
  }
}
