.catalog-additional {
  padding-bottom: 40px;
}

.catalog-additional__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.catalog-additional__caption {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  text-align: left;
  padding-top: 25px;
  position: relative;
  width: fit-content;
  background: #ffffff;
  box-shadow:
    -40px 0 0 0 #ffffff,
    41px 0 0 0 #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 69%;
    box-shadow: 100vw 0 0 0 $basic_green;
    height: 2px;
    background-color: $basic_green;
    right: 0;
    width: 100vw;
    z-index: -1;
  }
}

.catalog-additional__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.catalog-additional__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
  padding-bottom: 18px;
  border-bottom: 1px solid $special_grey;
}

.catalog-additional__item:first-child {
  padding-top: 12px;
  border-top: 1px solid $special_grey;
}

.catalog-additional__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.catalog-additional__list-info {
  margin: 0;
  padding: 0;
}

.catalog-additional__item-info {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-weight: 400;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.catalog-additional__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  margin: 0 auto;
  margin-top: 2px;
}

.catalog-additional__gift {
  background-color: rgba(104, 183, 56, 0.85);
  background-image:
    image-set(
      url("../../images/catalog-bg-cat-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/catalog-bg-cat-mobile@2x.webp") 2x type("image/webp"),
      url("../../images/catalog-bg-cat-mobile@1x.png") 1x type("image/png"),
      url("../../images/catalog-bg-cat-mobile@2x.png") 2x type("image/png"));
  background-repeat: no-repeat;
  min-width: 280px;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 61px 43px 58px;
  box-sizing: border-box;
}

.catalog-additional__text {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
  text-align: center;
  margin: 0;
}

.catalog-additional__text::before {
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#icon_gift");
  background-size: 78px 80px;
  position: absolute;
  top: -130px;
  left: 43px;
}

@media screen and (min-width: $tablet-width) {
  .catalog-additional {
    padding-bottom: 80px;
  }

  .catalog-additional__wrapper {
    padding: 0 30px;
  }

  .catalog-additional__caption {
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    margin-bottom: 80px;

    &::before {
      top: 43%;
    }
  }

  .catalog-additional__wrapper--title {
    padding-left: 70px;
  }

  .catalog-additional__title {
    font-size: 20px;
    line-height: 20px;
  }

  .catalog-additional__list {
    gap: 0;
    margin-bottom: 70px;
  }

  .catalog-additional__item:first-child {
    padding-top: 26px;
    border-top: 1px solid $special_grey;
  }

  .catalog-additional__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto min-content;
    padding: 26px 38px 28px;
    gap: 22px;
    border: 1px solid $special_grey;
    border-top: none;
  }

  .catalog-additional__item-info {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 55px;
  }

  .catalog-additional__button {
    grid-column: 1/-1;
  }

  .catalog-additional__gift {
    background-image:
      image-set(
        url("../../images/catalog-bg-cat-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/catalog-bg-cat-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/catalog-bg-cat-tablet@1x.png") 1x type("image/png"),
        url("../../images/catalog-bg-cat-tablet@2x.png") 2x type("image/png"));
    min-width: 707px;
    min-height: 200px;
    display: block;
    padding: 0;
  }

  .catalog-additional__text {
    margin: 0;
    padding: 71px 125px 0 421px;
    text-align: left;
  }

  .catalog-additional__text::before {
    width: 80px;
    height: 83px;
    top: 55px;
    left: 77px;
  }
}

@media screen and (min-width: $desktop-width) {
  .catalog-additional {
    padding-bottom: 0;
  }

  .catalog-additional__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 110px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .catalog-additional__caption {
    font-size: 40px;
    line-height: 40px;
    padding-top: 0;
    margin-bottom: 80px;
  }

  .catalog-additional__caption::before {
    top: 45%;
  }

  .catalog-additional__list {
    margin: 0;
  }

  .catalog-additional__item:first-child {
    padding: 0;
  }

  .catalog-additional__item {
    display: grid;
    grid-template-columns: 1fr 1fr 244px;
    grid-template-rows: auto;
    width: 896px;
    padding: 0;
    align-items: center;
    border: none;
    border-bottom: 1px solid $special_grey;
    min-height: 71px;
    gap: 40px;
  }

  .catalog-additional__item-info {
    justify-content: space-between;
    padding-top: 4px;
  }

  .catalog-additional__item-info span {
    text-align: left;
    min-width: 42px;
  }

  .catalog-additional__button {
    grid-column: 3/4;
    margin: 0;
  }

  .catalog-additional__gift {
    background-image:
      image-set(
        url("../../images/catalog-bg-cat-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/catalog-bg-cat-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/catalog-bg-cat-desktop@1x.png") 1x type("image/png"),
        url("../../images/catalog-bg-cat-desktop@2x.png") 2x type("image/png"));
    min-width: 0;
    min-height: 0;
    width: 245px;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .catalog-additional__text {
    padding: 0;
    text-align: center;
    margin-top: 137px;
  }

  .catalog-additional__text::before {
    top: -127px;
    left: 45px;
  }
}
