.example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.example__caption {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  padding-right: 85px;
}

.example__description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.example__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: 0;
  margin-bottom: 34px;
  max-width: 280px;
}

.example__box {
  width: 124px;
  height: 54px;
  border: 1px solid $special_grey;
  border-radius: 3px;
}

.example__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
}

.example__desc {
  position: relative;
  top: 7px;
  left: 50%;
  width: 80px;
  transform: translateX(-50%);
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  font-weight: 400;
  margin: 0;
  text-align: center;
  background-color: #eaeaea;
}

.example__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.example__image {
  display: block;
}

.example__slider {
  margin: 0 20px;
  box-sizing: border-box;
}

@media screen and (min-width: $tablet-width) {
  .example {
    background: linear-gradient(#ffffff 57%, #eaeaea 57%);
    width: 100%;
    padding: 45px 0 105px;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
  }

  .example__wrapper {
    margin: 0 auto;
    padding: 0 30px;
  }

  .example__caption {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
    position: relative;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .example__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 160px;
    align-items: flex-start;
  }

  .example__list {
    gap: 43px;
    margin: 0;
    margin-bottom: 99px;
  }

  .example__box {
    gap: 11px;
    min-width: 160px;
    height: 71px;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
  }

  .example__number--result::before,
  .example__number--time::before {
    width: 162px;
    height: 72px;
  }

  .example__desc {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    background-color: #ffffff;
    width: 135px;
    top: 9px;
  }

  .example__text {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-top: 11px;
  }

  .example__price {
    display: block;
    margin-top: 9px;
  }
}

@media screen and (min-width: $desktop-width) {
  .example {
    display: flex;
    gap: 224px;
    background: linear-gradient(#ffffff 31%, #f2f2f2 31%);
    width: 100%;
    padding: 69px 0 76px;
    border-top: none;
  }

  .example__wrapper {
    max-width: 1440px;
    padding: 0 110px;
    position: relative;
  }

  .example__caption {
    margin-bottom: 146px;
    width: 1220px;
  }

  .example__description {
    margin-bottom: 69px;
    width: 432px;
  }

  .example__container {
    flex-direction: column;
    justify-content: space-between;
    column-gap: 55px;
  }

  .example__list {
    gap: 43px;
    margin: 0;
    margin-bottom: 55px;
  }

  .example__text {
    display: flex;
    justify-content: space-between;
    margin: 0;
    gap: 65px;
  }

  .example__price {
    margin: 0;
  }

  .example__desc {
    background-color: #f2f2f2;
    top: 10px;
  }

  .example__box {
    margin-bottom: 4px;
  }
}
