.example__caption {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .example__caption {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .example__number {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__desc {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .example__desc {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .example__text {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__slider {
  position: relative;
}

.slider__button {
  background-color: #666666;
  width: 4px;
  height: 100%;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.slider__button::before {
  content: "";
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.slider__button::after {
  content: "";
  background-color: #666666;
  width: 40px;
  height: 40px;
  border: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  mask-image: url("../../icons/stack.svg#icon-slider");
  mask-position: 9px 13px;
  mask-repeat: no-repeat;
  mask-size: 24px 18px;
}
