.main-nav {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .main-nav {
    background-color: #ffffff;
  }
}

@media screen and (min-width: 1440px) {
  .main-nav {
    background-color: #68b738;
  }
}
