.main-nav {
  position: relative;
  width: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-nav__toggle {
  position: absolute;
  top: -53px;
  right: 0;
  z-index: 2;
  display: block;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#icon_burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs {
  position: static;
  display: block;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  width: 18px;
  height: 18px;
  background-image: url("../../icons/stack.svg#icon_close");
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.main-nav__item {
  min-width: 280px;
}

.main-nav__list a {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;

  @include nav-uppercase (20px, 400, 20px, #000000);

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media screen and (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    top: 100%;
  }

  .main-nav__list {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 1;
    background-color: #ffffff;
    position: absolute;
    width: 200%;
  }

  .main-nav__item::before {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    min-width: 320px;
    border-top: 1px solid #e6e6e6;
  }
}

@media screen and (device-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    top: 100%;
  }

  .main-nav__list {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 1;
    background-color: #ffffff;
    position: absolute;
    width: 200%;
  }

  .main-nav__item::before {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    min-width: 320px;
    border-top: 1px solid #e6e6e6;
  }
}


@media screen and (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 33px;
    min-width: 436px;
    list-style-type: none;
    margin: 0;
  }

  .main-nav__item {
    min-width: auto;
  }

  .main-nav__list a {
    @include nav-uppercase (18px, 400, 24px, #000000);
    padding: 7px 0;
  }

  .main-nav__item--current {
    position: relative;
  }

  .main-nav__item--current::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    height: 2px;
    background: $basic_green;
  }
}

@media screen and (min-width: $desktop-width) {
  .main-nav__list {
    position: static;
    z-index: 1;
  }

  .main-nav__list a {
    @include nav-uppercase (20px, 400, 30px, #ffffff);
    padding: 12px 0;
  }

  .main-nav__item--current::after {
    bottom: 3px;
    background: #ffffff;
  }

  .main-nav--catalog .main-nav__item a {
    color: #111111;
  }

  .main-nav--catalog .main-nav__item--current::after {
    background: $basic_green;
  }
}
