.htmlacademy-link {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  font-weight: 400;
  text-decoration: none;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  color: #444444;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

.main-footer__list {
  list-style-type: none;
  display: flex;
}

.main-footer__link--vkontakte::before {
  content: "";
  background-color: #666666;
  width: 27px;
  height: 17px;
  border: none;
  display: block;
  mask-image: url("../../icons/stack.svg#icon_vkontakte");
  mask-position: 100%;
  mask-repeat: no-repeat;
  mask-size: 27px 17px;
}

.main-footer__link--youtube::before {
  content: "";
  background-color: #666666;
  width: 27px;
  height: 17px;
  border: none;
  display: block;
  mask-image: url("../../icons/stack.svg#icon_youtube");
  mask-position: 50%;
  mask-repeat: no-repeat;
  mask-size: 27px 17px;
}

.main-footer__link--telegram::before {
  content: "";
  background-color: #666666;
  width: 27px;
  height: 17px;
  border: none;
  display: block;
  mask-image: url("../../icons/stack.svg#icon_telegram");
  mask-position: 100%;
  mask-repeat: no-repeat;
  mask-size: 27px 17px;
}

.main-footer__link--vkontakte:hover::before,
.main-footer__link--vkontakte:focus::before,
.main-footer__link--youtube:hover::before,
.main-footer__link--youtube:focus::before,
.main-footer__link--telegram:hover::before,
.main-footer__link--telegram:focus::before {
  background-color: #68b738;
}

.main-footer__link--vkontakte:active::before,
.main-footer__link--youtube:active::before,
.main-footer__link--telegram:active::before {
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .main-footer__link--vkontakte::before,
  .main-footer__link--youtube::before,
  .main-footer__link--telegram::before {
    width: 28px;
    height: 22px;
  }
}

.htmlacademy-link::before {
  content: "";
  background-color: #666666;
  width: 27px;
  height: 34px;
  border: none;
  display: block;
  mask-image: url("../../icons/stack.svg#icon_html-academy");
  mask-position: 100%;
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
}

.htmlacademy-link:hover::before,
.htmlacademy-link:focus::before {
  background-color: #68b738;
}

.htmlacademy-link:active::before {
  opacity: 0.3;
}
