.promo {
  position: relative;
  padding-top: 27px;
}

.promo::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 302px;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/index-bg-cat-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/index-bg-cat-mobile@2x.webp") 2x type("image/webp"),
      url("../../images/index-bg-cat-mobile@1x.png") 1x type("image/png"),
      url("../../images/index-bg-cat-mobile@2x.png") 2x type("image/png")
    ),
    linear-gradient(#414045, #535459);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  z-index: -1;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

.promo__caption {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.promo__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.promo__product {
  display: block;
  margin-bottom: 3px;
}

.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  height: 40px;
  width: 280px;
}

@media screen and (min-width: $tablet-width) {
  .promo {
    background-color: #ffffff;
    padding-top: 65px;
  }

  .promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 768px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
    min-height: 810px;
  }

  .promo__caption {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 40px;
    text-align: left;
    order: -3;
    margin-left: 90px;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 50px;
    order: -2;
    margin-left: 90px;
  }

  .promo__wrapper picture {
    position: absolute;
    left: 30px;
    top: 200px;
  }

  .promo__button {
    font-size: 20px;
    line-height: 26px;
    height: 54px;
    width: 244px;
    order: -1;
    z-index: 1;
    margin-left: 90px;
  }
}

@media screen and (min-width: $desktop-width) {
  .promo {
    position: static;
    padding-top: 110px;
  }

  .promo::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 50%;
    height: 694px;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/index-bg-cat-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/index-bg-cat-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/index-bg-cat-desktop@1x.png") 1x type("image/png"),
        url("../../images/index-bg-cat-desktop@2x.png") 2x type("image/png")
      ),
      linear-gradient(#343336, #47474b);
    background-repeat: no-repeat;
    background-size: auto, 1041px 694px, auto;
    background-position: left bottom;
    z-index: 0;
  }

  .promo__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 470px;
    box-sizing: content-box;
  }

  .promo__wrapper picture {
    top: -81px;
    left: 467px;
  }

  .promo__caption {
    padding: 0;
    margin-bottom: 40px;
    margin-left: 80px;
    z-index: 1;
  }

  .promo__slogan {
    margin-left: 80px;
    margin-bottom: 52px;
  }

  .promo__product {
    margin: 0;
  }

  .promo__button {
    margin-left: 80px;
  }
}
