.subscribe__caption {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .subscribe__caption {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .subscribe__caption {
    font-size: 40px;
    line-height: 40px;
  }
}

.subscribe__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .subscribe__text {
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__field {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  text-transform: uppercase;
  width: 280px;
}

@media screen and (min-width: 768px) {
  .subscribe__field {
    width: 376px;
  }
}

@media screen and (min-width: 768px) {
  .fsubscribe__ield {
    width: 496px;
  }
}

.subscribe__button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.button-primary {
  @include button-primary ($secondary-font, #ffffff, #68b738);
}
