.subscribe {
  padding-bottom: 40px;
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
}

.subscribe__caption {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin: 0 0 32px;
  position: relative;
  width: fit-content;
  background: #ffffff;
  box-shadow:
    -40px 0 0 0 #ffffff,
    41px 0 0 0 #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 48%;
    box-shadow: 100vw 0 0 0 $basic_green;
    height: 2px;
    background-color: $basic_green;
    right: 0;
    width: 100vw;
    z-index: -1;
  }
}

.subscribe__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}


.subscribe__field {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 16px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid $special_grey;
}

.subscribe__button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  width: 100%;
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
}

.button-primary {
  @include button-primary ($secondary-font, #ffffff, #68b738);
}


@media screen and (min-width: $tablet-width) {
  .subscribe {
    padding-bottom: 80px;
  }

  .subscribe__wrapper {
    align-items: center;
    padding: 0 30px;
  }

  .subscribe__wrapper--title {
    padding-right: 455px;
  }

  .subscribe__caption {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 67px;
  }

  .subscribe__text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 23px;
    padding: 0 30px;
  }

  .subscribe__form {
    display: grid;
    grid-template-columns: 376px 256px;
  }

  .subscribe__field {
    height: 56px;
    margin: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .subscribe__wrapper--title {
    padding-right: 996px;
  }

  .subscribe {
    padding-bottom: 106px;
  }

  .subscribe__caption {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 71px;
  }

  .subscribe__form {
    display: grid;
    grid-template-columns: 496px 256px;
  }
}
